%tr
  %th.Table-Cell= language.name

  %th.Table-Cell-Button= link_to 'Destroy language', language_path(language), method: :delete,
                                                                              data: { confirm: "Are you sure you want to delete this?" },
                                                                              class: 'btn btn-danger',
                                                                              id: "destroy_language_#{language.id}"





