%tr
  %th.Table-Cell= user.email
  %th.Table-Cell= user.decorate.role
  - if user.admin
    %th.Table-Cell Not possible
  - else
    %th.Table-Cell-Button= link_to 'Destroy User', user_path(user), method: :delete,
                                                                    data: { confirm: "Are you sure you want to delete this?" },
                                                                    class: 'btn btn-danger',
                                                                    id: "destroy_user_#{user.id}"





