%h1 All projects
%h2 Filter by language
.Language-Buttons
  =link_to 'None', projects_path, class: 'btn btn-primary'
  - Language.all.each do |l|
    = link_to l.name, projects_path(language: l.name), class: 'btn btn-success'

= render @projects

.apple_pagination
  = will_paginate @projects