@import "bootstrap";
@import "variables";
@import "apple_pagination";

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #e8ebe4;
  min-height: 100%;
}

.Cursor-Pointer {
  cursor: pointer;
}

.Navigation {
  border-radius: 0;
  margin-bottom: 0;

  &-Brand {
    color: white;
  }

  &-Link {
    cursor: pointer;
  }

  &-Span {
    position: relative;
    display: block;
    padding: 15px 15px;
    color: white;
  }
}

.Content {
  min-height: 100vh;
  margin-top: -52px;
  margin-bottom: -60px;
  background: white;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;

  &:after {
    content: "";
    display: block;
    height: 60px;
  }

  &-Inside {
    margin-top: 72px;
  }
}

.Footer {
  width: 100%;
  height: 60px;
  background-color: #222;
  border-color: #080808;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer, .Content-Inside:after {
  height: 60px;
}

.Form {
  width: 450px;
  min-width: 450px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 68px;

  &-Heading {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bolder;
  }

  &-Actions {
    margin: 20px 0;
  }
}

.Resource-Form {
  width: 450px;
  min-width: 450px;

  &-File {
    margin-bottom: 15px;
  }

  &-Textarea {
    height: 150px;
    min-height: 150px;
    resize: vertical;
    margin-bottom: 10px;
  }

  &-Checkbox {
    display: block;

    label {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }

    .collection_check_boxes {
      margin-left: 5px;
    }
  }
}

.Alert {
  width: 450px;
  position: absolute;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.Project {
  padding: 10px 10px;
  border: 1px solid $light-gray;
  border-radius: 2px;
  margin-bottom: 5px;

  &-Label {
    font-weight: bolder;
    margin-bottom: 0;
  }

  &-Vote-Form {
    &-Select {
      width: 100px;
      margin-bottom: 10px;
    }
  }
}

.Developer {
  height: 140px;
  min-height: 140px;
  border: 1px solid $light-gray;
  padding: 10px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  &-Name {
    font-size: 16px;
    font-weight: bolder;
  }

  &-Left {
    width: 130px;
    min-width: 130px;
    display: inline-block;
  }

  &-Right {
    display: inline-block;
    flex: 1;
  }

  &-Create-Project-Button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &-Empty-Image {
    width: 120px;
    height: 120px;
    background: $light-gray;
    border: 1px solid black;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    &-Text {
      font-weight: bolder;
      font-size: 20px;
    }
  }

  &-Image {
    border: 1px solid black;
  }
}

.Language {
  &-Buttons {
    margin-bottom: 10px;
  }
}

.Table {
  font-size: 14px;

  &-Cell {
    vertical-align: middle !important;
    font-weight: normal;
  }

  &-Cell-Button {
    text-align: center;
  }
}

.User {
  width: 500px;
  min-width: 500px;
}

.Language {
  width: 300px;
  min-width: 300px;
}

